/Game.class
/Parser.class
/PlayGame.class
/Room.class
/Direction.class
/Backpack.class
/Chest.class
/Command.class
/Crouch.class
/FinalPart.class
/Look.class
/Part1.class
/Part2.class
/Part3.class
/Telescope.class
/ToggleCrouch.class
/item.class
